@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html {
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*tirar o overlay automático do mobile*/
}

body {
    background-attachment: fixed; 
    color: white;
    overflow-y: hidden;
    background: rgb(53,5,90);
    background: linear-gradient(190deg, rgba(53,5,90,1) 29%, rgb(58, 30, 99) 91%);
    animation-name: animacao;
    height: 100dvh;
}

.container-contato {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    animation-name: animacao;
    animation-duration: 2s;
    animation-delay: .1s;
    transition: .3s;
}

.contato-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contato-main article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
}

.contato-main img {
    max-width: 240px;
}

.contato-main h1 > a {
    color: white;
    text-decoration: none;
}

.contato-main article > p {
    max-width: 580px;
    text-align: justify;
}

.contato-main aside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
}

.contato-main aside p {
    text-align: center;
}

section.btn-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-direction: column;
}

a.link button {
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}

a.link button:hover {
    background-color: rgba(255, 255, 255, 0.659);
    color: #250D53;
    box-shadow: 1px 1px 4px white;
}


@media screen and (max-width: 1040px) {
    .contato-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .contato-main article {
        display: flex;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .contato-main article > p {
        text-align: justify;
        width: 100%;
        margin: 0 auto;
    }

    .contato-main aside {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .article-logo img {
        margin-left: 10px;
    }
}

@media screen and (max-height: 554px) {
    .contato-main {
        height: 100%;
    }
}

/* KEYFRAMES */

@keyframes animacao {
    from {opacity: 0;}
    to {opacity: initial;}
}

